<%- include ('partials/htmlHeader') %>
<div class="background-overlay">
    <div class="space-25 all-movies-wrapper">
        <h1 class="upcoming-movies-header">Upcoming movies:</h1>
        <div class="content-wrapper">
            <div class="space-25">
                <% for(let i = 0; i < movies.length; i++){%>
                    <div class="d-flex flex-column justify-content-center space-25 movie-info-wrapper default-box-shadow" id="movie-<%=i%>">
                        <div class="p-2 align-center">
                            <h1 class="movie-title"><%= movies[i].Title%></h1>
                        </div>
                        <div class="p-2 align-center">
                            <img src="<%= movies[i].Poster%>" alt="<%=movies[i].Title%> poster" class="movie-poster default-box-shadow">
                        </div>
                        <div class="p-2 padding-0 align-center">
                            <h4><%= movies[i].Year%></h4>
                        </div>
                        <div class="p-2 width-60 align-center text-align-center"><%= movies[i].Plot%></div>
                        
                    </div>
                <%}%>
            </div>  
        </div>
    </div>
    <%- include ('partials/footer') %>
</div>

    <script>
        let movies = [];
        let numberOfmovies = parseInt("<%=movies.length%>");
        <% for(let i = 0; i < movies.length; i++){%>
            if(true){
                let movie = {}
                movie.title = '<%= movies[i].Title%>'
                movie.poster = '<%= movies[i].Poster%>'
                movie.year = '<%= movies[i].Year%>'
                movie.plot = '<%= movies[i].Plot%>'
                movies.push(movie)
            }
        <%}%>
    </script>  
    <script src="/js/mainPage.js"></script>
<%- include ('partials/htmlFooter') %>