<%- include ('partials/htmlHeader') %>
<div class="container" id='mainWrapper'>
    <h1>POOL</h1>
    <%if(!poll.voting){%>
        <div id="addingMovies">
            <h3><%= poll.entryCode %></h3>
            <input type="text" placeholder="Searched movie" name="movieName" id="movieName"> 
            <button type="button" onclick="getMovies()">Search</button> 
            <%if(currentUser._id.toString() === poll.host.user._id.toString()){%>
                <div class="container" id="inviteList">
                    <%for(let i = 0; i < friendsToInvite.length; i++){%>
                        <div>
                            <p><%= friendsToInvite[i].nickname%></p>
                            <button type="button" onclick="inviteFriend('<%=friendsToInvite[i]._id%>', '<%= poll._id%>', '<%= poll.host.user._id%>')">
                                Invite
                            </button>
                        </div>
                    <%}%>

                    <%for(let i = 0; i < invitedFriends.length; i++){%>
                        <div>
                            <p><%= invitedFriends[i].to.nickname%></p>
                            <button type="button" disabled>
                                <%if(invitedFriends[i].accepted){%>
                                    <%='Accepted'%>
                                <%}else{%>
                                    <%= 'Pending'%>
                                <%}%>
                            </button>
                        </div>
                    <%}%>
                </div>
            <%}%>
            <div id="statsWrapper">

            </div>
            <div id="moviesWrapper">

            </div>
        </div>
        <script>
            const parseDataFromSite = false;
        </script>
    <%}else{%>
        <%if(!poll.finished){%>
            <script>
                const parseDataFromSite = true;
            </script>
        <%}else{%>
            <script>
                const parseDataFromSite = false;
            </script>  
        <%}%>
    <%}%>
    <div id="voting">
        <%for(let i = 0; i < moviesToVoteOn.length; i++){%>
            <div>
                <h3 class="movie_title"><%=moviesToVoteOn[i].Title%></h3>
                <img src="<%=moviesToVoteOn[i].Poster%>" alt="<%=moviesToVoteOn[i].Title%>" class="movie_poster">
                <p>Released <span class="movie_release"><%=moviesToVoteOn[i].Released%></span> Runtime <span class="movie_span"><%=moviesToVoteOn[i].Runtime%></span></p>
                <p class="movie_plot"><%=moviesToVoteOn[i].Plot%></p>
                <p class="movie_id"><%=moviesToVoteOn[i].imdbID%></p>
            </div>
        <%}%>
        <%if(poll.winner.movie){%>
            <div class="container">
                <h1><%= poll.winner.movie.Title%></h1>
                <h4>Released <%= poll.winner.movie.Released%>, rintime <%= poll.winner.movie.Runtime%></h4>
                <img src="<%= poll.winner.movie.Poster%>" alt="<%= poll.winner.movie.Title%>">
                <p><%= poll.winner.movie.Plot%></p>
                <p>Score <%= poll.winner.movie.imdbRating%> from <%= poll.winner.movie.imdbVotes%> votes</p>
            </div>
        <%}%>
    </div>
</div>  
<%- include ('partials/socketConnection') %>
<%if(currentUser._id.toString() === poll.host.user._id.toString()){%>
    <script>
        const hostId = '<%=poll.host.user._id%>';
    </script>
<%}else{%>
    <script>
        const hostId = undefined;
    </script>
<%}%>
<script src="/js/renderer.js"></script>
<script src="/js/pollRoomSocket.js"></script>
<%- include ('partials/htmlFooter') %>