<%- include ('partials/htmlHeader') %>
<div class="container" id='mainWrapper'>
    <h1>POOL</h1>
    <%if(!poll.voting){%>
        <div id="addingMovies">
            <h3><%= poll.entryCode %></h3>
            <input type="text" placeholder="Searched movie" name="movieName" id="movieName"> 
            <button type="button" onclick="getMovies()">Search</button> 
            <%if(currentUser._id.toString() === poll.host.user._id.toString()){%>
                <div class="container" id="inviteList">
                    <%for(let i = 0; i < friendsToInvite.length; i++){%>
                        <div>
                            <p><%= friendsToInvite[i].nickname%></p>
                            <button type="button" onclick="inviteFriend('<%=friendsToInvite[i]._id%>', '<%= poll._id%>', '<%= poll.host.user._id%>')">
                                Invite
                            </button>
                        </div>
                    <%}%>

                    <%for(let i = 0; i < invitedFriends.length; i++){%>
                        <div>
                            <p><%= invitedFriends[i].to.nickname%></p>
                            <button type="button" disabled>
                                <%if(invitedFriends[i].accepted){%>
                                    <%='Accepted'%>
                                <%}else{%>
                                    <%= 'Pending'%>
                                <%}%>
                            </button>
                        </div>
                    <%}%>
                </div>
            <%}%>
            <div id="statsWrapper">

            </div>
            <div id="moviesWrapper">

            </div>
        </div>
        <%}%>
        <div id="voting">
            <%for(let i = 0; i < moviesToVoteOn.length; i++){%>
                <div>
                    <h3><%=moviesToVoteOn[i].Title%></h3>
                    <img src="<%=moviesToVoteOn[i].Poster%>" alt="<%=moviesToVoteOn[i].Title%>">
                    <p>Released <%=moviesToVoteOn[i].Released%> Runtime <%=moviesToVoteOn[i].Runtime%></p>
                    <p><%=moviesToVoteOn[i].Plot%></p>
                    <button type="button">YES</button>
                    <button type="button">Skip</button>
                    <button type="button">NO</button>
                </div>
            <%}%>
        </div>
</div>  
<%- include ('partials/socketConnection') %>
<%if(currentUser._id.toString() === poll.host.user._id.toString()){%>
    <script>
        const hostId = '<%=poll.host.user._id%>';
    </script>
<%}else{%>
    <script>
        const hostId = undefined;
    </script>
<%}%>
<script src="/js/renderer.js"></script>
<script src="/js/pollRoomSocket.js"></script>
<%- include ('partials/htmlFooter') %>