<%- include ('partials/htmlHeader') %>
<div class="container">
    <h1>POOL</h1>
    <h3><%= poll.entryCode %></h3>
    <input type="text" placeholder="Searched movie" name="movieName" id="movieName"> 
    <button type="button" onclick="getMovies()">Search</button> 
    <div class="container" id="inviteList">
        <%for(let i = 0; i < friends.length; i++){%>
            <div>
                <p> <%=friends[i].nickname%> </p>
                <button type="button" onclick="inviteFriend('<%=friends[i]._id%>', '<%=poll._id%>', '<%=currentUser._id%>')">Invite</button>
            </div>
        <%}%>
    </div>
    <div id="statsWrapper">

    </div>
    <div id="moviesWrapper">

    </div>
</div>  
<%- include ('partials/socketConnection') %>
<script src="/js/renderer.js"></script>
<script src="/js/pollRoomSocket.js"></script>
<%- include ('partials/htmlFooter') %>