<%- include ('partials/htmlHeader') %>
    <h1>PROFILE USER OR SOME OTHER SHIT</h1>
    <h3><%= user.username%></h3>
    <h3><%= user.nickname%></h3>
    <%for(let i = 0; i < user.friends.length; i++){%>
        <p><%= user.friends[i].username%></p>
        <p><%= user.friends[i].nickname%></p>
    <%}%>
    <form action="/user/<%=user._id%>/find" method="post">
        <input type="text" placeholder="User nickname" name='friendName'>
        <button type="submit">Search</button>
    </form>
    <%if(friend){%>
        <hr>
        <h3><%= friend.username%></h3>
        <h3><%= friend.nickname%></h3>
        <form action="/user/<%=user._id%>/add/<%=friend._id%>" method="post">
            <button type="submit">Add Friend</button>
        </form>
    <%}%>
    <hr>
    <%for(let i = 0; i < user.polls.length; i++){%>
        <p><%= user.polls[i].data%></p>
        <p><%= user.polls[i].entryCode%></p>
    <%}%>
<%- include ('partials/htmlFooter') %>