<%- include ('partials/htmlHeader') %>
<div class="all-wrapper gradient-custom">
    <div class="container">
        <h1>Welcome <%= user.nickname%>!</h1>

        <div class="row">

            <div class="col">
                <form action="/poll/join/code" method="post">
                    <label for="room-code" class="form-label">Join poll room with code</label>
                    <div class="input-group mb-3">
                        <input type="text" name="entryCode" id="room-code" class="form-control" placeholder="Code" aria-label="Invitation Code" aria-describedby="join-room-button">
                        <button class="btn btn-outline-secondary" type="submit" id="join-room-button">Join</button>
                      </div>
                </form>
            </div>

            <div class="col">
                <form action="/user/<%=user._id%>/find" method="post">
                    <label for="friend-name" class="form-label">Search users</label>
                    <div class="input-group mb-3">
                        <input type="text" name="friendName" id="friend-name" class="form-control" placeholder="User nickname" aria-label="User Nickname" aria-describedby="search-friends-button">
                        <button class="btn btn-outline-secondary" type="submit" id="search-friends-button">Search</button>
                      </div>
                </form>
            </div>

        </div>
        
        <label for="friend-list-wrapper" class="section-label">Your friends</label>
        <div id="friend-list-wrapper">

            <div id="friend-list">
                <%for(let i = 0; i < user.friends.length; i++){%>
                    <div class="whitesmoke-fill friend-div">
                        <p class="user-name"><%= user.friends[i].nickname%></p>
                    </div>
                <%}%>
            </div>

            <div class="text-align-center">
                <button class="friends-button" onclick="wrap()"><i class="bi bi-arrow-bar-up" id="wrappButton"></i></button>
            </div>
        </div>

        <%if(friends){%>
            <hr class="space-25">
            <label for="friends-to-add" class="section-label">Users to add</label>
            <div id="friends-to-add">
                <%for(let i = 0; i < friends.length; i++){%>
                    <form action="/user/<%=user._id%>/add/<%=friends[i]._id%>" method="post">
                        <div class="row whitesmoke-fill friend-div">
                            <div class="col">
                                <span class="user-name"><%= friends[i].nickname%></span>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-secondary">Add Friend</button>
                            </div>
                        </div>
                    </form>
                <%}%>
            </div>
        <%}%>
    
        <hr>
        <label for="polls-wrapper" class="section-label">Polls you participated in</label>
        <div class="polls-wrapper" id="polls-wrapper">
            <%for(let i = 0; i < polls.length; i++){%>
                <div class="whitesmoke-fill poll-info">
                    <span><strong>Poll started by <%= user._id.toString() === polls[i].host.user._id.toString() ? 'You' : polls[i].host.user.nickname%></strong></span>
                    <p>Started: <%= polls[i].data.toDateString()%></p>

                    <div class="row">
                        <div class="col">
                            <%if(!polls[i].finished){%>
                                <a href="/poll/<%=polls[i]._id%>" class="entry-with-code"><strong>Join Room</strong></a>
                            <%}%>
                            <div class="space-25">
                                <p><strong>Number of movies in queue:</strong> <%= polls[i].movies.length%></p>
                                <p><strong>Number of voters:</strong> <%= polls[i].voters.length%></p>
                            </div>
                        </div>
                        
                        <%if(polls[i].finished){%>
                            <div class="col">
                                <p class="section-label">Winner: <%=polls[i].winner.movie.Title%></p>
                                <p><strong>Released:</strong> <%=polls[i].winner.movie.Released%></p>
                                <p><strong>Runtime:</strong> <%=polls[i].winner.movie.Runtime%></p>
                                <p><strong>Language:</strong> <%=polls[i].winner.movie.Language%></p>
                                <p><strong>Genre:</strong> <%=polls[i].winner.movie.Genre%></p>
                                <p><strong>Plot:</strong> <%=polls[i].winner.movie.Plot%></p>
                                <p><strong>Rating:</strong> <%=polls[i].winner.movie.imdbRating%> from <%=polls[i].winner.movie.imdbVotes%> votes</p>
                            </div>
                            <div class="col">
                                <img src="<%=polls[i].winner.movie.Poster%>" alt="<%=polls[i].winner.movie.Title%>">
                            </div>
                        <%}%>
                    </div>



                    
                </div>
            <%}%>
        </div>
    
    </div>
    <script src="/js/userProfile.js"></script>
    <%- include ('partials/footer') %>
</div>
<%- include ('partials/htmlFooter') %>